<div class="login-page">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput
               formControlName="login">
      </mat-form-field>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password"
                 formControlName="password">
        </mat-form-field>
      </div>

      <div id="controls" class="">
        <button style="width:20%" [disabled]=" loginForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Login
        </button>
      </div>
      <a routerLink="/register">Registration</a>
    </div>
  </form>
</div>
